.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #A3CEF1;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}